#home {
    height: 100vh;
    background: url('../img/erasmus_bg.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

#home .content {
    background: rgba(255, 255, 255, .9);
    padding: 20px;
    font-size: 26px;
}

ul.page-list {
    list-style:none;
    display: inline-block;
}