<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css} "/>
</head>
<body>
    <div th:insert="navbar :: navbar"></div>

    <h1 th:text="#{label.welcome} + ' ' + ${user.firstName} + ' !'" class="mt-3 text-center"></h1>
    <!--<p>[[${user.firstName + " " + user.lastName}]]</p>-->
</body>
</html>