<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>NavigationBar</title>
</head>
<body>

    <nav th:fragment="navbar" class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/hello}">ERASMUS</a>
            </div>
            <ul class="nav navbar-nav">
                <li sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" th:href="@{/users/all}" th:text="#{label.users.management}"></a>
                </li>
                <li>
                    <a class="nav-link" th:href="@{/users/me}" th:text="#{label.profile}">My Profile</a>
                </li>
                <li>
                    <a class="nav-link" th:href="@{/logout}" th:text="#{label.logout}">Sign Out</a>
                </li>
                <li>
                    <a class="nav-link" th:href="@{?lang=fr}">
                        <button class="btn btn-sm btn-outline-light" type="button">FR</button>
                    </a>
                </li>
                <li>
                    <a class="nav-link" th:href="@{?lang=en}">
                        <button class="btn btn-sm btn-outline-light" type="button">EN</button>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

</body>
</html>